<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect all requests to public/index.php (Laravel front controller)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    # Allow access to the storage directory
    RewriteRule ^storage/(.*)$ /home/ryansyah/projects/src/laravel-pos/storage/app/public/$1 [L]
    
    # Handle HTTPS redirect
    RewriteCond %{HTTPS} =on
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^storage/(.*)$ /home/ryansyah/projects/src/laravel-pos/storage/app/public/$1 [L]
</IfModule>
